<!DOCTYPE html>
<html ng-app="bunsho">
<head>
  <meta charset='utf-8'>
  <title>bunsho</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="StateController as page">
<div ng-controller="QuestionController as question">

<div class="menupage" ng-show="page.isState(0)">

  <div class="header">
    <h1 class="bunsho">bunsho</h1>
  </div>

  <div class="message">
    <p>Welcome to <span class="bunsho">bunsho</span>, an interactive grammar tool for learning Japanese. Personalize your learning session by choosing from the following topics.</p>
  </div>

  <div class="message warning">
    <p>This is a work in progress. You can follow the development <a href="https://github.com/Tomires/bunsho">over at GitHub</a>. If you'd be willing to contribute with a couple questions, don't hesitate to <a href="mailto:me(at)tomires.eu">drop me an e-mail</a>.</p>
  </div>

  <ul class="topics" ng-controller="TopicController as topics">
    <li ng-repeat="topic in topics.products" ng-click="topics.selectItem(topic.id)">
        {{topic.title}}
        <abbr>{{topic.desc}}</abbr>
        <div class="description" ng-show="topics.isSelected(topic.id)">{{topic.description}}</div>
        <div class="button" ng-show="topics.isSelected(topic.id) && topics.isAvailable(topic.id)" ng-click="page.setLesson(topic.id - 1)">いくぞ</div>
        <div class="buttonunavailable" ng-show="topics.isSelected(topic.id) && !topics.isAvailable(topic.id)">This topic is unavailable at the moment. :(</div>
    </li>
  </ul>

</div>

<div class="headersm" ng-show="!page.isState(0)" ng-controller="TopicController as topics">
  <a href ng-click="page.state = 0"><h1 class="bunsho">bunsho</h1></a>
  <span>Current course: {{topics.products[page.lesson].title}}</span>
</div>

<div class="prelessonpage" ng-show="page.isState(1)" ng-controller="TopicController as topics">
  <div class="mainarea">
    <span class="lessonnumber">{{topics.products[page.lesson].id}}</span>
    <h2>{{topics.products[page.lesson].title}}</h2>
    <p>{{topics.products[page.lesson].description}}</p>
    <ul>
      <li ng-repeat="utility in topics.products[page.lesson].utilizes">
        {{utility.prerequisite}}
        <abbr>{{utility.description}}</abbr>
      </li>
    </ul>
    <form name="nofQuestionsForm" class="form" ng-controller="QuestionController"
        ng-submit="nofQuestionsForm.$valid && question.loadQuestions(topics.products[page.lesson].id) && page.nextState()" novalidate>
      Choose a number of questions: <input class="textinput" ng-model="page.nofquestions" type="number" min="5" max="25" value="10" required>
      <input class="button" type="submit" value="いくぞ" />
    </form>
  </div>
</div>

<div class="lessonpage" ng-show="page.isState(2)">

    <div class="progressbar" style="width: {{page.barwidth}}%"></div>

  <div class="mainarea">
    <div class="progressinfo">
      <span class="questremaining">Questions remaining: {{page.nofquestions - page.questionsanswered}}</span>
      <span ng-bind-html="resultsMeter" class="ticks resultsmeter"></span>
    </div>
    <h2 ng-bind-html="parsedQuestion"></h2>

    <form name="questionForm" ng-submit="question.checkAnswer() && question.answerCorrect() && question.randomQuestion() && page.nextQuestion()">

      <div class="form">
        <input class="textinput" type="text" value="" ng-model="question.userAnswer" />
      </div>

      <div ng-if="!question.checkAnswer()" class="skip"><a href ng-click="question.answerIncorrect() && question.randomQuestion() && page.nextQuestion()">Skip this question</a></div>
      <div ng-if="question.checkAnswer()">
        <span class="ticks">4</span> Correct answer!
        <input type="submit" value="Next question" class="button" />
      </div>

    </form>
  </div>
</div>

<div class="resultspage" ng-show="page.isState(3)">
  <div class="mainarea">
    <h2>Congratulations!</h2>
    <div class="resultsreport">
      <span class="ticks">3</span>{{question.noCorrect}}
      <span class="ticks">7</span>{{question.noIncorrect}}
    </div>
    <p>This is where the results page would be. For the time being, here's a picture of a kitten.</p>
    <img src="kitten.png" />
    <div class="button" ng-click="page.nextState()">Return to the list of topics</div>
  </div>
</div>

</div>
  <script type="text/javascript" src="dependencies/angular.min.js"></script>
  <script type="text/javascript" src="dependencies/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="src/app.js"></script>
  <script type="text/javascript" src="src/state.js"></script>
  <script type="text/javascript" src="src/topic.js"></script>
  <script type="text/javascript" src="src/question.js"></script>

</body>
</html>
