@font-face{
	font-family: 'Franklin Gothic Book';
	src: url('fonts/FranklinGothic-Book-webfont.eot');
	src: url('fonts/FranklinGothic-Book-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/FranklinGothic-Book-webfont.woff') format('woff'),
	     url('fonts/FranklinGothic-Book-webfont.ttf') format('truetype'),
	     url('fonts/FranklinGothic-Book-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'Franklin Gothic Demi';
	src: url('fonts/FranklinGothic-Demi-webfont.eot');
	src: url('fonts/FranklinGothic-Demi-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/FranklinGothic-Demi-webfont.woff') format('woff'),
	     url('fonts/FranklinGothic-Demi-webfont.ttf') format('truetype'),
	     url('fonts/FranklinGothic-Demi-webfont.svg#webfont') format('svg');
}

body{
	background-color: whitesmoke;
  margin: 0;
  font-family: 'Franklin Gothic Book';
  font-size: 1.5em;
}

a{
	text-decoration: none;
}

.header{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  background-color: whitesmoke;
  padding-top: 2em;
  padding-bottom: 2em;
}

.headersm{
	padding-bottom: 0.3em;
	background-color: darkred;
	color: white;
}

.headersm h1{
	font-size: 1.2em;
	padding-left: 0.4em;
	display: inline;
}

.headersm span{
	font-size: 0.8em;
	margin-left: 1em;
	font-family: "Franklin Gothic Demi";
}

.header h1 {
	font-size: 5em;
	margin: 0;
}

.bunsho{
	text-shadow: 0 1px 0 #ccc,
							0 2px 0 #c9c9c9,
							0 3px 0 #bbb,
							0 4px 0 #b9b9b9,
							0 5px 0 #aaa,
							0 6px 1px rgba(0,0,0,.1),
							0 0 5px rgba(0,0,0,.1),
							0 1px 3px rgba(0,0,0,.3),
							0 3px 5px rgba(0,0,0,.2),
							0 5px 10px rgba(0,0,0,.25),
							0 10px 10px rgba(0,0,0,.2);
	font-family: 'Franklin Gothic Demi';
	color: white;
}

.message{
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 0 5px 5px #ccc;
  background-color: white;
	border: 1px solid white;
	border-top: 5px solid darkred;
}

.message p{
  margin: 0;
  padding: 2%;
}

.topics{
  list-style-type: none;
  padding: 0;
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

.topics li{
  font-family: 'Franklin Gothic Demi';
  width: 96%;
  color: darkred;
  box-shadow: 0 5px 5px #ccc;
  background-color: white;
  display: block;
  margin-bottom: 1em;
  padding: 2%;
	border: 1px solid white;
	background: linear-gradient(235deg, transparent 10em, white 10em);
}

.topics li:hover{

	border: 1px solid gray;
  cursor: pointer;
}

.topics li abbr{
  font-family: 'Franklin Gothic Book';
  font-size: 0.75em;
  color: black;
  display: block;
}

.description{
	font-size: 0.7em;
	padding-top: 1em;
	border-top: 1px solid darkred;
	margin-top: 1em;
	font-family: 'Franklin Gothic Book';
}

.btnbegin{
	background-color: white;
	border: 1px solid darkred;
	border-bottom: 5px solid darkred;
	padding: 0.3em;
	margin-top: 0.5em;
	text-align: center;
	box-shadow: 0 5px 5px #ccc;
}

.btnbegin:hover{
	background-color: darkred;
	color: white;
}

.lessonsummary{
	text-align: center;
}

.lessonsummary .lessonnumber{
	margin-top: 2em;
	border-bottom: 2px solid darkred;
	display: block;
	width: 5em;
	margin-left: auto;
	margin-right: auto;
	color: darkred;
}

.lessonsummary h2{
	font-family: 'Franklin Gothic Demi';
	color: darkred;
}

.lessonsummary p{
	max-width: 38em;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.numselect{
	font-size: 2em;
	border: 1px solid whitesmoke;
	color: darkred;
	padding: 0.2em;
	text-align: center;
	background-color: whitesmoke;
	border-bottom: 5px solid darkred;
}

.numsubmit{
	font-size: 2em;
	border: 1px solid darkred;
	color: darkred;
	padding: 0.2em;
	text-align: center;
	border-bottom: 5px solid darkred;
	background-color: white;
	box-shadow: 0 5px 5px #ccc;
}

.numsubmit:hover{
	color:white;
	background-color: darkred;
}
